.flags{ background:url("flags.png") top left no-repeat; }
.flag-NP{ width:16px; height:20px; background-position:-10px -10px; }
.flag-CH{ width:16px; height:16px; background-position:-10px -40px; }
.flag-VA{ width:16px; height:16px; background-position:-10px -66px; }
.flag-MO{ width:23px; height:15px; background-position:-10px -92px; }
.flag-BV{ width:21px; height:15px; background-position:-10px -117px; }
.flag-MM{ width:23px; height:15px; background-position:-10px -142px; }
.flag-ML{ width:23px; height:15px; background-position:-10px -167px; }
.flag-BW{ width:23px; height:15px; background-position:-10px -192px; }
.flag-MG{ width:23px; height:15px; background-position:-10px -217px; }
.flag-BZ{ width:23px; height:15px; background-position:-10px -242px; }
.flag-MC{ width:19px; height:15px; background-position:-10px -267px; }
.flag-MA{ width:23px; height:15px; background-position:-10px -292px; }
.flag-CD{ width:20px; height:15px; background-position:-10px -317px; }
.flag-LS{ width:23px; height:15px; background-position:-10px -342px; }
.flag-CF{ width:23px; height:15px; background-position:-10px -367px; }
.flag-CG{ width:23px; height:15px; background-position:-10px -392px; }
.flag-LB{ width:23px; height:15px; background-position:-10px -417px; }
.flag-LA{ width:23px; height:15px; background-position:-10px -442px; }
.flag-CI{ width:23px; height:15px; background-position:-10px -467px; }
.flag-CL{ width:23px; height:15px; background-position:-10px -492px; }
.flag-KR{ width:23px; height:15px; background-position:-10px -517px; }
.flag-PF{ width:23px; height:15px; background-position:-10px -542px; }
.flag-PE{ width:23px; height:15px; background-position:-10px -567px; }
.flag-PA{ width:23px; height:15px; background-position:-10px -592px; }
.flag-BJ{ width:23px; height:15px; background-position:-10px -617px; }
.flag-NO{ width:21px; height:15px; background-position:-10px -642px; }
.flag-NL{ width:23px; height:15px; background-position:-10px -667px; }
.flag-BO{ width:22px; height:15px; background-position:-10px -692px; }
.flag-BQ{ width:23px; height:15px; background-position:-10px -717px; }
.flag-NE{ width:18px; height:15px; background-position:-10px -742px; }
.flag-NA{ width:23px; height:15px; background-position:-10px -767px; }
.flag-MZ{ width:23px; height:15px; background-position:-10px -792px; }
.flag-BR{ width:22px; height:15px; background-position:-10px -817px; }
.flag-MW{ width:23px; height:15px; background-position:-10px -842px; }
.flag-MV{ width:23px; height:15px; background-position:-10px -867px; }
.flag-MU{ width:23px; height:15px; background-position:-10px -892px; }
.flag-MT{ width:23px; height:15px; background-position:-10px -917px; }
.flag-MR{ width:23px; height:15px; background-position:-10px -942px; }
.flag-MQ{ width:23px; height:15px; background-position:-10px -967px; }
.flag-BT{ width:23px; height:15px; background-position:-10px -992px; }
.flag-GQ{ width:23px; height:15px; background-position:-10px -1017px; }
.flag-GP{ width:23px; height:15px; background-position:-10px -1042px; }
.flag-GN{ width:23px; height:15px; background-position:-10px -1067px; }
.flag-GM{ width:23px; height:15px; background-position:-10px -1092px; }
.flag-GL{ width:23px; height:15px; background-position:-10px -1117px; }
.flag-GH{ width:23px; height:15px; background-position:-10px -1142px; }
.flag-GG{ width:23px; height:15px; background-position:-10px -1167px; }
.flag-GF{ width:23px; height:15px; background-position:-10px -1192px; }
.flag-GE{ width:23px; height:15px; background-position:-10px -1217px; }
.flag-DO{ width:23px; height:15px; background-position:-10px -1242px; }
.flag-GA{ width:20px; height:15px; background-position:-10px -1267px; }
.flag-FR{ width:23px; height:15px; background-position:-10px -1292px; }
.flag-FO{ width:21px; height:15px; background-position:-10px -1317px; }
.flag-DZ{ width:23px; height:15px; background-position:-10px -1342px; }
.flag-EC{ width:23px; height:15px; background-position:-10px -1367px; }
.flag-EE{ width:23px; height:15px; background-position:-10px -1392px; }
.flag-EU{ width:23px; height:15px; background-position:-10px -1417px; }
.flag-EG{ width:23px; height:15px; background-position:-10px -1442px; }
.flag-ES{ width:23px; height:15px; background-position:-10px -1467px; }
.flag-CM{ width:23px; height:15px; background-position:-10px -1492px; }
.flag-KN{ width:23px; height:15px; background-position:-10px -1517px; }
.flag-CN{ width:23px; height:15px; background-position:-10px -1542px; }
.flag-KH{ width:23px; height:15px; background-position:-10px -1567px; }
.flag-KE{ width:23px; height:15px; background-position:-10px -1592px; }
.flag-JP{ width:23px; height:15px; background-position:-10px -1617px; }
.flag-CO{ width:23px; height:15px; background-position:-10px -1642px; }
.flag-IT{ width:23px; height:15px; background-position:-10px -1667px; }
.flag-IS{ width:21px; height:15px; background-position:-10px -1692px; }
.flag-IQ{ width:23px; height:15px; background-position:-10px -1717px; }
.flag-IN{ width:23px; height:15px; background-position:-10px -1742px; }
.flag-IL{ width:21px; height:15px; background-position:-10px -1767px; }
.flag-CW{ width:23px; height:15px; background-position:-10px -1792px; }
.flag-ID{ width:23px; height:15px; background-position:-10px -1817px; }
.flag-CY{ width:23px; height:15px; background-position:-10px -1842px; }
.flag-CZ{ width:23px; height:15px; background-position:-10px -1867px; }
.flag-HK{ width:23px; height:15px; background-position:-10px -1892px; }
.flag-DJ{ width:23px; height:15px; background-position:-10px -1917px; }
.flag-DK{ width:20px; height:15px; background-position:-10px -1942px; }
.flag-GR{ width:23px; height:15px; background-position:-10px -1967px; }
.flag-TH{ width:23px; height:15px; background-position:-10px -1992px; }
.flag-TF{ width:23px; height:15px; background-position:-10px -2017px; }
.flag-TD{ width:23px; height:15px; background-position:-10px -2042px; }
.flag-WF{ width:23px; height:15px; background-position:-10px -2067px; }
.flag-SZ{ width:23px; height:15px; background-position:-10px -2092px; }
.flag-SY{ width:23px; height:15px; background-position:-10px -2117px; }
.flag-SX{ width:23px; height:15px; background-position:-10px -2142px; }
.flag-AD{ width:22px; height:15px; background-position:-10px -2167px; }
.flag-AT{ width:23px; height:15px; background-position:-10px -2192px; }
.flag-YE{ width:23px; height:15px; background-position:-10px -2217px; }
.flag-AW{ width:23px; height:15px; background-position:-10px -2242px; }
.flag-SR{ width:23px; height:15px; background-position:-10px -2267px; }
.flag-SO{ width:23px; height:15px; background-position:-10px -2292px; }
.flag-SN{ width:23px; height:15px; background-position:-10px -2317px; }
.flag-SM{ width:20px; height:15px; background-position:-10px -2342px; }
.flag-YT{ width:23px; height:15px; background-position:-10px -2367px; }
.flag-SL{ width:23px; height:15px; background-position:-10px -2392px; }
.flag-SK{ width:23px; height:15px; background-position:-10px -2417px; }
.flag-VE{ width:23px; height:15px; background-position:-10px -2442px; }
.flag-VC{ width:23px; height:15px; background-position:-10px -2467px; }
.flag-AF{ width:23px; height:15px; background-position:-10px -2492px; }
.flag-UY{ width:23px; height:15px; background-position:-10px -2517px; }
.flag-AG{ width:23px; height:15px; background-position:-10px -2542px; }
.flag-VI{ width:23px; height:15px; background-position:-10px -2567px; }
.flag-UG{ width:23px; height:15px; background-position:-10px -2592px; }
.flag-UA{ width:23px; height:15px; background-position:-10px -2617px; }
.flag-TZ{ width:23px; height:15px; background-position:-10px -2642px; }
.flag-TW{ width:23px; height:15px; background-position:-10px -2667px; }
.flag-AL{ width:21px; height:15px; background-position:-10px -2692px; }
.flag-VN{ width:23px; height:15px; background-position:-10px -2717px; }
.flag-TR{ width:23px; height:15px; background-position:-10px -2742px; }
.flag-AN{ width:23px; height:15px; background-position:-10px -2767px; }
.flag-TN{ width:23px; height:15px; background-position:-10px -2792px; }
.flag-TM{ width:23px; height:15px; background-position:-10px -2817px; }
.flag-AO{ width:23px; height:15px; background-position:-10px -2842px; }
.flag-AQ{ width:23px; height:15px; background-position:-10px -2867px; }
.flag-PG{ width:20px; height:15px; background-position:-10px -2892px; }
.flag-PK{ width:23px; height:15px; background-position:-10px -2917px; }
.flag-PM{ width:23px; height:15px; background-position:-10px -2942px; }
.flag-ZR{ width:23px; height:15px; background-position:-10px -2967px; }
.flag-PR{ width:23px; height:15px; background-position:-10px -2992px; }
.flag-BF{ width:23px; height:15px; background-position:-10px -3017px; }
.flag-PT{ width:23px; height:15px; background-position:-10px -3042px; }
.flag-BE{ width:23px; height:15px; background-position:-10px -3067px; }
.flag-RD{ width:23px; height:15px; background-position:-10px -3092px; }
.flag-RE{ width:23px; height:15px; background-position:-10px -3117px; }
.flag-RL{ width:22px; height:15px; background-position:-10px -3142px; }
.flag-RO{ width:23px; height:15px; background-position:-10px -3167px; }
.flag-RS{ width:23px; height:15px; background-position:-10px -3192px; }
.flag-RU{ width:23px; height:15px; background-position:-10px -3217px; }
.flag-ZM{ width:23px; height:15px; background-position:-10px -3242px; }
.flag-RW{ width:23px; height:15px; background-position:-10px -3267px; }
.flag-SA{ width:23px; height:15px; background-position:-10px -3292px; }
.flag-SJ{ width:21px; height:15px; background-position:-10px -3317px; }
.flag-BB{ width:23px; height:15px; background-position:-10px -3342px; }
.flag-ZH{ width:23px; height:15px; background-position:-10px -3367px; }
.flag-AX{ width:23px; height:15px; background-position:-10px -3392px; }
.flag-ZA{ width:23px; height:15px; background-position:-10px -3417px; }
.flag-SG{ width:23px; height:15px; background-position:-10px -3442px; }
.flag-FI{ width:23px; height:14px; background-position:-10px -3467px; }
.flag-NI{ width:23px; height:14px; background-position:-10px -3491px; }
.flag-HT{ width:23px; height:14px; background-position:-10px -3515px; }
.flag-TT{ width:23px; height:14px; background-position:-10px -3539px; }
.flag-LT{ width:23px; height:14px; background-position:-10px -3563px; }
.flag-DD{ width:23px; height:14px; background-position:-10px -3587px; }
.flag-LU{ width:23px; height:14px; background-position:-10px -3611px; }
.flag-GY{ width:23px; height:14px; background-position:-10px -3635px; }
.flag-DE{ width:23px; height:14px; background-position:-10px -3659px; }
.flag-BG{ width:23px; height:14px; background-position:-10px -3683px; }
.flag-GT{ width:23px; height:14px; background-position:-10px -3707px; }
.flag-BI{ width:23px; height:14px; background-position:-10px -3731px; }
.flag-PL{ width:23px; height:14px; background-position:-10px -3755px; }
.flag-BH{ width:23px; height:14px; background-position:-10px -3779px; }
.flag-BD{ width:23px; height:14px; background-position:-10px -3803px; }
.flag-KM{ width:23px; height:14px; background-position:-10px -3827px; }
.flag-KG{ width:23px; height:14px; background-position:-10px -3851px; }
.flag-TG{ width:23px; height:14px; background-position:-10px -3875px; }
.flag-AR{ width:23px; height:14px; background-position:-10px -3899px; }
.flag-CR{ width:23px; height:14px; background-position:-10px -3923px; }
.flag-JE{ width:23px; height:14px; background-position:-10px -3947px; }
.flag-LI{ width:23px; height:14px; background-position:-10px -3971px; }
.flag-SE{ width:23px; height:14px; background-position:-10px -3995px; }
.flag-VU{ width:23px; height:14px; background-position:-10px -4019px; }
.flag-CV{ width:23px; height:14px; background-position:-10px -4043px; }
.flag-PW{ width:23px; height:14px; background-position:-10px -4067px; }
.flag-GD{ width:23px; height:14px; background-position:-10px -4091px; }
.flag-IR{ width:23px; height:13px; background-position:-10px -4115px; }
.flag-MX{ width:23px; height:13px; background-position:-10px -4138px; }
.flag-PY{ width:23px; height:13px; background-position:-10px -4161px; }
.flag-SV{ width:23px; height:13px; background-position:-10px -4184px; }
.flag-EH{ width:23px; height:12px; background-position:-10px -4207px; }
.flag-AE{ width:23px; height:12px; background-position:-10px -4229px; }
.flag-AC{ width:23px; height:12px; background-position:-10px -4251px; }
.flag-DM{ width:23px; height:12px; background-position:-10px -4273px; }
.flag-AI{ width:23px; height:12px; background-position:-10px -4295px; }
.flag-CX{ width:23px; height:12px; background-position:-10px -4317px; }
.flag-AM{ width:23px; height:12px; background-position:-10px -4339px; }
.flag-CU{ width:23px; height:12px; background-position:-10px -4361px; }
.flag-AS{ width:23px; height:12px; background-position:-10px -4383px; }
.flag-CK{ width:23px; height:12px; background-position:-10px -4405px; }
.flag-AU{ width:23px; height:12px; background-position:-10px -4427px; }
.flag-CC{ width:23px; height:12px; background-position:-10px -4449px; }
.flag-CA{ width:23px; height:12px; background-position:-10px -4471px; }
.flag-BY{ width:23px; height:12px; background-position:-10px -4493px; }
.flag-AZ{ width:23px; height:12px; background-position:-10px -4515px; }
.flag-BA{ width:23px; height:12px; background-position:-10px -4537px; }
.flag-BS{ width:23px; height:12px; background-position:-10px -4559px; }
.flag-BN{ width:23px; height:12px; background-position:-10px -4581px; }
.flag-BM{ width:23px; height:12px; background-position:-10px -4603px; }
.flag-MP{ width:23px; height:12px; background-position:-10px -4625px; }
.flag-MS{ width:23px; height:12px; background-position:-10px -4647px; }
.flag-MY{ width:23px; height:12px; background-position:-10px -4669px; }
.flag-NF{ width:23px; height:12px; background-position:-10px -4691px; }
.flag-NG{ width:23px; height:12px; background-position:-10px -4713px; }
.flag-NR{ width:23px; height:12px; background-position:-10px -4735px; }
.flag-NU{ width:23px; height:12px; background-position:-10px -4757px; }
.flag-NZ{ width:23px; height:12px; background-position:-10px -4779px; }
.flag-OM{ width:23px; height:12px; background-position:-10px -4801px; }
.flag-PH{ width:23px; height:12px; background-position:-10px -4823px; }
.flag-PN{ width:23px; height:12px; background-position:-10px -4845px; }
.flag-PS{ width:23px; height:12px; background-position:-10px -4867px; }
.flag-SB{ width:23px; height:12px; background-position:-10px -4889px; }
.flag-SC{ width:23px; height:12px; background-position:-10px -4911px; }
.flag-SD{ width:23px; height:12px; background-position:-10px -4933px; }
.flag-SH{ width:23px; height:12px; background-position:-10px -4955px; }
.flag-YU{ width:23px; height:12px; background-position:-10px -4977px; }
.flag-WS{ width:23px; height:12px; background-position:-10px -4999px; }
.flag-VG{ width:23px; height:12px; background-position:-10px -5021px; }
.flag-UZ{ width:23px; height:12px; background-position:-10px -5043px; }
.flag-US{ width:23px; height:12px; background-position:-10px -5065px; }
.flag-UK{ width:23px; height:12px; background-position:-10px -5087px; }
.flag-TV{ width:23px; height:12px; background-position:-10px -5109px; }
.flag-TP{ width:23px; height:12px; background-position:-10px -5131px; }
.flag-TO{ width:23px; height:12px; background-position:-10px -5153px; }
.flag-TL{ width:23px; height:12px; background-position:-10px -5175px; }
.flag-TK{ width:23px; height:12px; background-position:-10px -5197px; }
.flag-TJ{ width:23px; height:12px; background-position:-10px -5219px; }
.flag-TC{ width:23px; height:12px; background-position:-10px -5241px; }
.flag-SU{ width:23px; height:12px; background-position:-10px -5263px; }
.flag-ST{ width:23px; height:12px; background-position:-10px -5285px; }
.flag-SS{ width:23px; height:12px; background-position:-10px -5307px; }
.flag-SI{ width:23px; height:12px; background-position:-10px -5329px; }
.flag-IO{ width:23px; height:12px; background-position:-10px -5351px; }
.flag-IM{ width:23px; height:12px; background-position:-10px -5373px; }
.flag-IE{ width:23px; height:12px; background-position:-10px -5395px; }
.flag-HU{ width:23px; height:12px; background-position:-10px -5417px; }
.flag-HR{ width:23px; height:12px; background-position:-10px -5439px; }
.flag-HN{ width:23px; height:12px; background-position:-10px -5461px; }
.flag-HM{ width:23px; height:12px; background-position:-10px -5483px; }
.flag-GW{ width:23px; height:12px; background-position:-10px -5505px; }
.flag-GU{ width:23px; height:12px; background-position:-10px -5527px; }
.flag-GS{ width:23px; height:12px; background-position:-10px -5549px; }
.flag-GI{ width:23px; height:12px; background-position:-10px -5571px; }
.flag-GB{ width:23px; height:12px; background-position:-10px -5593px; }
.flag-FM{ width:23px; height:12px; background-position:-10px -5615px; }
.flag-FK{ width:23px; height:12px; background-position:-10px -5637px; }
.flag-FJ{ width:23px; height:12px; background-position:-10px -5659px; }
.flag-ET{ width:23px; height:12px; background-position:-10px -5681px; }
.flag-ER{ width:23px; height:12px; background-position:-10px -5703px; }
.flag-MN{ width:23px; height:12px; background-position:-10px -5725px; }
.flag-MK{ width:23px; height:12px; background-position:-10px -5747px; }
.flag-MH{ width:23px; height:12px; background-position:-10px -5769px; }
.flag-ME{ width:23px; height:12px; background-position:-10px -5791px; }
.flag-MD{ width:23px; height:12px; background-position:-10px -5813px; }
.flag-LY{ width:23px; height:12px; background-position:-10px -5835px; }
.flag-LV{ width:23px; height:12px; background-position:-10px -5857px; }
.flag-LR{ width:23px; height:12px; background-position:-10px -5879px; }
.flag-LK{ width:23px; height:12px; background-position:-10px -5901px; }
.flag-LC{ width:23px; height:12px; background-position:-10px -5923px; }
.flag-KZ{ width:23px; height:12px; background-position:-10px -5945px; }
.flag-KY{ width:23px; height:12px; background-position:-10px -5967px; }
.flag-KW{ width:23px; height:12px; background-position:-10px -5989px; }
.flag-KP{ width:23px; height:12px; background-position:-10px -6011px; }
.flag-KI{ width:23px; height:12px; background-position:-10px -6033px; }
.flag-JO{ width:23px; height:12px; background-position:-10px -6055px; }
.flag-JM{ width:23px; height:12px; background-position:-10px -6077px; }
.flag-QA{ width:23px; height:9px; background-position:-10px -6099px; }
